<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Private-Chat</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div id="chatbox">
    <h2>Private Chat</h2>
    <div id="messages"></div>

    <div class="inputs">
      <input id="username" placeholder="Your name" />
      <div class="message-row">
        <input id="message" placeholder="Type a message..." />
        <button onclick="sendMessage()">➤</button>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
